*{margin:0 auto; padding:0;}
ul,li{
    list-style: none;
}
html,body{
	height: 100%;
	width: 100%;
}
body{
	/* background-image: url('../img/bg.jpg'); */
	background-color: #222b3a;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
@media screen and (max-width: 750px){
	.content-div{
		width: 80%;
	}
}
@media screen and (min-width: 751px){
	.content-div{
		width: 30%;
	}
}
@media screen and (min-width: 1601px){
	.content-div{
		width: 20%;
	}
}
.flex{
	display: flex;
	align-items: center;
}
.borderBox{
	box-sizing: border-box;
}
#canvas-cont{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;  left: 0;
}
.content-div{
	position: absolute;
	padding: 28px 45px;
	left: 50%; top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 16px;
	border:1px solid #fff;
	box-shadow: 0 0 8px #fff;
	overflow: hidden;
	box-sizing: border-box;
	color: #fff;
}
.content-div p.line{
	height: 6px;
	width: 80px;
	border-radius: 3px;
	box-shadow: 0 0 4px #fff;
	margin-bottom: 36px;
}
p.welcome{
	text-align: center;
	font-size: 20px;
	margin-bottom: 36px;
}

/**账户密码**/
.item{
	min-height: 36px;
	/*padding: 0 8px;*/
	margin-top: 14px;
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 0 4px #fff;
	border: 1px solid #999;
	justify-content: flex-start;
}
.item img{
	width: 23px;
}
.item input{
	flex: 1;
	border: none;
	background: transparent;
	color: #fff;
	box-sizing: border-box;
	/*padding: 0 8px;*/
	outline: none;
}

/**登陆**/
p.btn{
	line-height: 40px;
	border-radius: 8px;
	background: #3C8AFF;
	margin-top: 14px;
	text-align: center;
	border: 1px solid #3C8AFF;
}
p.btn:active{
	box-shadow: 0 0 4px #fff;
}

/**提示语句**/
.tip{
	position: absolute;
	top: 50%; left:50%;
	transform: translate(-50%,-50%);
	width: 70%;
	padding: 10px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	border-radius: 10px;
	display: none;
	font-size: 14px;
}

#vaptchaContainer{
	padding: 0;
	overflow: hidden;
}
#vaptcha img.vp-main-bg{
	height: auto;
}

#vaptchaContainer .vp-basic-cont .vp-about{
	display: none;
}

#vaptchaContainer #vaptcha .vp-opt .vp-logo{
	display: none;
}
